.container {
  width: 90vw;
  margin: 0 auto;
}

.about .container {
  display: flex;
  align-items: center;
}

.aboutPara {
  margin: 2rem;
}

.about h1,
.contact h2 {
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  font-size: 3rem;
}

.headshot {
  width: 650px;
  height: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.contact ul {
  list-style-type: none;
}

.contact li {
  display: flex;
  margin: 1.25rem 0.8rem;
}

.contact a {
  text-decoration: underline;
  margin: 0 0.5rem;
}

.contactIcons {
  height: 2em;
  margin: 0 0.5rem;
}

@media screen and (min-width: 650px) and (max-width: 1220px) {
  .headshot {
    width: 400px;
  }
}

@media screen and (max-width: 650px) {
  .headshot {
    width: 90vw;
  }
  .about .container {
    flex-direction: column;
  }
  .aboutPara {
    margin: 2rem 0;
  }

  .aboutPara p {
    margin: 0.8rem;
  }
}
