.gallery {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  column-gap: 30px;
  width: 100%;
}

@media screen and (min-width: 650px) and (max-width: 1220px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  .imgContainer {
    width: calc(75vw / 2);
    height: calc(75vw / 2);
  }
}

@media screen and (max-width: 650px) {
  .gallery {
    grid-template-columns: 1fr;
  }

  .imgContainer {
    width: 75vw;
    height: 75vw;
  }
}

.galleryTile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
}

.imgContainer:hover {
  padding: 0;
  box-shadow: 5px 5px 20px lightslategray;
}

.imgContainer:hover + .filmTitle {
  font-size: 1.1rem;
  text-shadow: 5px 5px 20px lightslategray;
}

.imgContainer {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
}

.filmImg {
  width: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
  border-radius: 3px;
}

.filmTitle {
  width: 300px;
  text-align: center;
  text-wrap: wrap;
  margin: 0.3rem 0 1.5rem 0;
}
