.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 10vh;
  width: 100%;
  height: 100%;
  padding: 0 10%;
  margin: 4rem 0;
}

.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: auto;
}

.logoLink img {
  width: 100%;
}

@media screen and (max-width: 650px) {
  .logoLink {
    width: 100px;
    object-fit: cover;
  }
}
