.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  margin: 2rem;
  list-style: none;
}

.navlink:hover,
.navlink:focus {
  border-bottom: 2px solid rgb(87, 87, 87);
}

.navlink:active {
  color: black;
}

.activeLink {
  font-weight: 600;
}
